[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"discord.py" = "*"
google-generativeai = "*"
waitress = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
